$btn-pressed-bg: #0fc7ff;

.btn-group {
  .label {
    margin-right: 0.5rem;
  }

  .btn {
    border: 1px solid #aeb6c6;
    padding: 0.5rem 0.75rem;
    margin: 0;
    color: black;
    background-color: #fff;

    &.btn-yes {
      border-radius: 5px 0 0 5px;
    }

    &.btn-no {
      border-radius: 0 5px 5px 0;
    }

    &.btn-pressed {
      background-color: $btn-pressed-bg;
      border-color: $btn-pressed-bg;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .2)
    }
  }
}

.btn-group {
  .radio {
    position: relative;
    display: inline-block;
    input {
      opacity: 0; /*

      SÃO IGNORADOS PELO FOCO DO TAB
      -----------------------------
      display: none;
      visibility: hidden; */

      position: absolute;
      // top: 25%;
      left: 25%;
      &:focus + label {
        outline: solid 1px #272c3f;
      }

      &:checked + label {
        @extend .btn-pressed
      }

      label {
        display: block;
      }
    }
  }
}
